

#map {
    height: 180px;
    width: 250px;
    border-radius: 15px;
    margin: 2px;
}
/* Header Styles */
#head_div {
    display: inline-flex;
    flex: content;
    
    border-bottom-color:#0032A1 ;
    border-bottom-style: groove;
    border-width: 5px;
    padding-left: 4px;
    background-image: url("https://images.unsplash.com/photo-1485056616736-b0840bdf4732?q=80&w=2091&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
#header_div {
    display:flex;
    flex-wrap: wrap;
    align-items:center;
   
    
    flex-shrink: 1;
    flex-grow: 2;

}

#img_div {
    
    flex-shrink: 10;
    flex-grow: 1;
    flex-basis: 25%;
}
#img_div img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    
    margin-left: 10px;
    margin-bottom: 5px;
}
h1 { 
    font-size: medium;
    color: #ffffff !important; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p {
    background-color: #b9b9b9cc;
    
    
    color: #ffffff;
    font-size: small;
}
#date {
    max-width: 120px;
}

@media only screen and (max-width:1300px){
    #map {
        height: 250px;
        width: 1400px;
    }
}

@media only screen and (min-width:1100px){
    #map {
        height: 250px;
        width: 600px;
    }
    #img_div{
        width: 230px;
        height: 230px;
    }
    #img_div img {
        width:225px;
        height: 225px;
        border-bottom-right-radius: 0%;

    }
    h1 {
        color: #ffffff;
        font-size: xx-large;
    }
    p {
        color: #ffffff;
        font-size: large;
    }
} 

@media only screen and ( max-width:300px) {
  
    #img_div{
        align-items: center;
    }
    #img_div img {
        border-top-left-radius: 50%;
        border-top-right-radius: 0%;
        border-bottom-right-radius: 0%;
        border-bottom-left-radius: 50% ;
    }
}

/* Header Styles */


/* Main area Styles */
#main_area {
    margin-top: 20px;
}

#Crime_Drop{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    
}
#input_col {
    border-radius: 20px;
    border-color: #0032A1;
    border-width: 2px;
    border-style: solid;
    padding: 2px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-around;
    
    button {
        margin: 4px;
    }
    
}

#output_col {
    padding: 3px;
    border-radius: 5px;
    border-color: #a1000071;
    border-width: 2px;
    border-style:double;
    
}
/* Main area Styles */

/* Submit Area styles */

.dropdown {
    margin-top: 1em;
    margin-bottom: 1em;
}
/* Submit Area styles */

#Reload {
    transform: rotate(90deg);
      
}
#Filter {
    display: flex;
    justify-content: start;
    flex-flow: wrap;
    margin-bottom: 1%;
}
.FilterBox {
    border-radius: 100vmax;
    margin-right: 2%;
}
body {
    background-color: #b9b9b9 !important;
}

