
/* Header Styles */
#head_div {
    display: inline-flex;
    flex: content;
    
    border-bottom-color:#0032A1 ;
    border-bottom-style: groove;
    border-width: 5px;
    padding-left: 4px;
    
}
#header_div {
    display:flex;
    flex-wrap: wrap;
    align-items:center;
   
    
    flex-shrink: 1;
    flex-grow: 2;

}

#img_div {
    
    flex-shrink: 10;
    flex-grow: 1;
    flex-basis: 25%;
}
#img_div img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    
    margin-left: 10px;
    margin-bottom: 5px;
}
h1 {
    font-size: medium;
    color: #0032A1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p {
    font-size: small;
}
#date {
    max-width: 120px;
}

@media only screen and (min-width:1000px){
    #img_div{
        width: 230px;
        height: 230px;
    }
    #img_div img {
        width:225px;
        height: 225px;
        border-bottom-right-radius: 0%;

    }
    h1 {
        font-size: xx-large;
    }
    p {
        font-size: large;
    }
} 

@media only screen and ( max-width:300px) {
    #img_div{
        align-items: center;
    }
    #img_div img {
        border-top-left-radius: 50%;
        border-top-right-radius: 0%;
        border-bottom-right-radius: 0%;
        border-bottom-left-radius: 50% ;
    }
}

/* Header Styles */


/* Main area Styles */
#main_area {
    margin-top: 20px;
}

#input_col {
    
    border-color: #0032A1;
    border-width: 2px;
    border-style: solid;
    padding: 2px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    button {
        margin: 4px;
    }
    
}

#output_col {
    border-color: #a1000071;
    border-width: 2px;
    border-style:double;
    
}
/* Main area Styles */

/* Submit Area styles */

.dropdown {
    margin-top: 1em;
    margin-bottom: 1em;
}
/* Submit Area styles */



body {
    background-color: #b9b9b9 !important;
}

